.App {
  font-family: sans-serif;
  text-align: center;
}

.square-or-circle {
  background: red;
  height: 100px;
  width: 100px;
  border-radius: 0px;
  transition: border-radius 1s;
}

.circle {
  border-radius: 50%;
}

.square {
  border-radius: 0;
}
